.custom-progress {
  width: 100%;
  height: 10px; /* بدل 5px */
  background-color: rgba(214, 212, 212, 0.5);
  border-radius: 5px;
}

.inner-progress {
  position: relative;   
  display: block;              
  height: 100%;          
  background-color:#2f2f33;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}


.inner-progress::after {
    content: attr(percent);
    position: absolute;
    top: -31px;
    right: 0px;
    padding: 3px;
    background-color: #2f2f33;
    color: white;
    border-radius: 5px;
}